<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Boutique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="shop-summary">
    <h2>Produits disponibles</h2>
    <p>{{ selectedCount }} produit(s) sélectionné(s)</p>
    <p class="total">Total : {{ totalPrice }} €</p>
  </div>

  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-thumbnail slot="start">
        <img [src]="product.image" [alt]="product.name" />
      </ion-thumbnail>

      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>{{ product.price }} €</p>
      </ion-label>

      <ion-checkbox
        slot="end"
        [(ngModel)]="product.selected"
        (ionChange)="updateTotal()">
      </ion-checkbox>
    </ion-item>
  </ion-list>

  <div class="footer-action">
    <ion-button
      expand="block"
      (click)="payWithStripe()"
      [disabled]="selectedCount === 0">
      Payer {{ totalPrice }} €
    </ion-button>
  </div>
</ion-content>
