<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Appareil photo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Galerie de photos -->
  <ion-grid *ngIf="photoService.photos.length > 0; else emptyState">
    <ion-row>
      <ion-col
        size="4"
        *ngFor="let photo of photoService.photos"
        (click)="openDetail(photo)"
        class="photo-col">
        <img [src]="photo.webviewPath" alt="Photo" class="gallery-thumb" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- État vide -->
  <ng-template #emptyState>
    <div class="empty-state">
      <ion-icon name="image-outline"></ion-icon>
      <p>Aucune photo pour l'instant.</p>
      <span>Appuyez sur le bouton photo pour commencer !</span>
    </div>
  </ng-template>

  <!-- Bouton appareil photo -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="takePhoto()" [disabled]="isTaking" color="primary">
      <ion-spinner *ngIf="isTaking" name="crescent"></ion-spinner>
      <ion-icon *ngIf="!isTaking" name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
